#
# Codec Module Code Formatting Configuration (K&R Style)
#
# Usage: clang-format --style=file -i codec-c/file.c
#

BasedOnStyle: LLVM
ColumnLimit: 100

BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 0
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 4
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000

IndentWidth: 4
UseTab: Never

# K&R style: opening brace on same line for functions, next line for control statements
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: Never
  AfterStruct: false
  AfterEnum: false

PointerAlignment: Left

SortIncludes: CaseSensitive

IndentPPDirectives: AfterHash

IndentCaseLabels: false

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true

ReflowComments: true

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: None
AlignArrayOfStructures: Left

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
