[submodule "modules/platform"]
	path = modules/platform
	url = https://github.com/finosorg-labs/platform.git
[submodule "modules/matrix"]
	path = modules/matrix
	url = https://github.com/finosorg-labs/matrix.git
[submodule "modules/sort"]
	path = modules/sort
	url = https://github.com/finosorg-labs/sort.git
